.stars {
  position: relative;
  width: 100px;
}
.stars i {
  color: goldenrod;
  width: 20%;
  font-size: 20px;
}
.stars .cover {
  width: 100%;
  position: absolute;
  height: 20px;
  top: 0;
  right: 0;
  background: white;
}
.tour {
  border: 2px solid #ccc;
}
.tour:last-of-type {
  border-bottom: 2px solid #ccc;
}
.tour .title {
  background: #ccc;
}
@media (min-width: 576px) {
  .tour .title {
    height: 90px;
    overflow: hidden;
  }
}
.tour .title-container .special {
  position: absolute;
  background: white;
  padding: 2px;
  bottom: 0px;
  right: 5px;
  border: 1px dashed black;
  transform: rotate(8deg);
}
@media (max-width: 575px) {
  .tour .title-container .special {
    font-size: 0.75em;
    bottom: -50px;
    right: 26px;
    transform: rotate(-19deg);
  }
}
.tour.special .title {
  background: #f7d54c;
}
